body{
    overflow-x: hidden;
}

#navbar-right{
    transition: 0.5s;
}
.navbar-mobile{
    width:500px;
    right:-500px!important;
    transition: 0.5s;
    position: absolute;
}
.navbar-mobile-x{
    right: 0px;
    transition: 0.5s;
}